
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-home">

<header class="bk-header wrapper clearfix">

    <div class="companyheader">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    <div class="nav">
        {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
    </div>

</header>

<div class="main wrapper clearfix">
    <div class="homepage-featured-image">
        {{widget('image', 'image', { 'src': asset('images/feature-img.jpg'), 'title': 'Lorem Ipsum Dolor Sit Amet Vivamus Nederles', 'description': 'Vivamus rhoncus ipsum tellus', 'alt': '', 'fileName': 'feature-img.jpg', 'fileSize': '58kb', 'imageSize': '940 x 648', 'imageWidth': '100%'})|raw}}
    </div>
    {{zone('main')|raw}}
</div> <!--end main -->

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('profile', 'footercolumn1profile', {'profileType':'socialicons'})|raw}}
    </div>
</footer>

</div>

{% endblock %}